h1 {
	color: #52206E;
}

li {
	color: #4B0082;
}

h4 {
	color: #FF1493;
}

/*RGBA has alpha which makes colors transparent*/

h1 {
	color: rgba(11, 99, 150, 1);
}

li {
	color: rgba(11, 99, 150, .6);
}

h4 {
	color: rgba(11, 99, 150, .2);
}