h1 {
	color: #52206E;
}

li {
	color: #4B0082;
}

h4 {
	color: #FF1493;
/*	background: rgb(255, 100, 80);*/

}

/*RGBA has alpha which makes colors transparent*/

h1 {
	color: rgba(11, 99, 150, 1);
}

li {
	color: rgba(11, 99, 150, .6);
}

h4 {
	color: rgba(11, 99, 150, .2);
	background: rgb(255, 100, 80);
}

body{
	background: pink;
}

div{
	background: #3498db
}

p{
	color: #ecf0f1;
}

/*we can also use an image to change the background*/

body{
	background: url(http://wallpapercave.com/wp/Tb3g7Fv.jpg);
	background-repeat: no-repeat; /*This sets the image not to repeat*/
	background-size: cover; /*This sets it to cover the page*/
}